body {
    background-image: url(../assets/img/fondo1.jpeg);
    background-size: cover;
    background-position: center;
}

.presentacion {
    text-align: center;
}

.principal {
    border-radius: 50%;
    border: solid blue;
    margin-top: 100px;
}

.carousel-inner{
    height: 500px;
}

.carousel-inner img {
    max-width: 460px;
}

.pie {
    font-family: cursive;
    font-size: 20px;
}
